# Ignore everything
*

# Allow files and directories
!/main.py
!/requirements.txt
!/modules
!/util
!/scripts
!/config
!/VERSION
!/spud
!/start.sh
!/tests
!/web

# Ignore unnecessary files inside allowed directories
# This should go after the allowed directories
**/*~
**/*.log
**/.DS_Store
**/Thumbs.db
**/config.yml
**/Dockerfile
