# Ignore everything
*

# Allow files and directories
!/main.py
!/Pipfile
!/Pipfile.lock
!/modules
!/util
!/scripts
!/config
!/VERSION
!/start.sh
!/exclude-file.txt

# Ignore unnecessary files inside allowed directories
# This should go after the allowed directories
**/*~
**/*.log
**/.DS_Store
**/Thumbs.db
**/config.yml