# Ignore everything
*

# Allow files and directories
!/config/*
!/modules/*
!/scripts/*
!/util/*
!/LICENSE
!/README.md
!/Dockerfile
!/.dockerignore
!/.gitignore
!/jokes.txt
!/Makefile
!/Pipfile
!/Pipfile.lock
!/requirements.txt
!/start.sh
!/VERSION

# Ignore unnecessary files inside allowed directories
# This should go after the allowed directories
**/config.yml
**/*~
**/*.log
**/.DS_Store
**/Thumbs.db
**/config.yml