
<div class="container-iframe">
  <div id="log-controls" class="log-toolbar">
    <select id="module-select">
      <option value="">Select Module</option>
    </select>
    <select id="logfile-select" disabled>
      <option value="">Select Log File</option>
    </select>
    <input type="text" id="search-logs" placeholder="Search logs..." />
    <button id="clear-search">Clear</button>
    <button id="download-log">Download</button>
  </div>
  <div id="log-output" class="log-output"></div>
</div>
